<form id="register_form" method="post" action="/login/save">
	<div>
		E-Mail address: <input type="email" name="email" id="email" placeholder="Bitte geben Sie eine gültige E-Mail-Adresse an" required />
	</div>

	<div>
		User name: <input type="text" name="user_name" id="user_name" placeholder="Bitte geben Sie einen Username an" required />
	</div>

	<div>
		Password: <input type="password" name="password_1" id="password_1" />
	</div>

	<div>
		Retype password: <input type="password" name="password_2" id="password_2" />
	</div>

	<div>
		<input type="submit" value="Register" />
	</div>
</form>
