<div class="form-wrapper user-list">
	<div class="form-head"><h1>Not successful!</h1></div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="form-body">
				<p>
					Unfortunately, your attempt was not successful.
				</p>
				<p>
					We apologize for that. <a href="/login/login">Here you can go back to the login / signup page</a>.
				</p>
				<p>
					Have a great day!
				</p>
				<p>
					Your ITM - Bin team
				</p>
			</div>
		</div>
	</div>
</div>


